---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Kaiss Bouchatrouch</h1>
			<p class="hero__text">
				Bienvenue dans mon univers ! Découvrez mes projets, mes passions et mon parcours à travers ce portfolio qui reflète mon engagement pour le développement web et la créativité.
			</p>
			<Boton href="bouchatrouch57070@gmail.com" texto="Me contacter"/>
		</div>
    <img
		class="hero__img"
		src="/img/profill.jpg"
		alt="Kaiss Bouchatrouch"
		width="384"
    	height="384"
	/>
	</div>
</section>
