---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Compétences" />
		<p>
Passionné par le développement web et logiciel, je maîtrise les langages HTML, CSS, JavaScript, TypeScript, PHP, Python et SQL. Mon expérience inclut la réalisation de projets concrets, tels que le site GreenCubeGolf.fr, ainsi que l’utilisation de Crewai pour intégrer des solutions d’intelligence artificielle. Je possède également des compétences solides en analyse de besoins, en correction de bugs et en amélioration de l’expérience utilisateur. Mon objectif est de continuer à approfondir ces compétences pour concevoir des solutions complètes et innovantes dans le développement full stack.		</p>
	</div>
</section>
