---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/app.png"
			alt="photo kaiss"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="A propos de moi" />
			<p class="about__text">
Étudiant en 2ᵉ année de BUT Informatique, je me spécialise en développement web avec l’ambition de devenir développeur full stack. Je suis à la recherche d’un stage de 8 semaines pour mettre mes compétences en pratique et continuer à apprendre en contribuant à vos projets.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
