---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="KaissBouchatrouch">
	<div class="terminal__skills">
		<h2>Mes Compétences</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/html.svg"
				color="#7738ff"
				name="HTML"
			/>
			<TerminalIcon
				src="/assets/css.svg"
				color="#FF4747"
				name="CSS"
			/>
			<TerminalIcon
				src="/assets/mysql.svg"
				color="#00D1FF"
				name="SQL"
			/>
			<TerminalIcon src="/assets/typescript.svg" color="#F3CBC2" name="TS" />
			<TerminalIcon src="/assets/bootstrap.svg" color="#00A3FF" name="Bootstrap" />
			<TerminalIcon
				src="/assets/python.svg"
				color="#3F75FF"
				name="Python"
			/>
		</div>
	</div>
</Terminal>
